@import url('https://fonts.googleapis.com/css2?family=EB+Garamonds&family=Josefin+Sans&family=Nunito&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.heading {
  font-family: 'Josefin Sans', sans-serif;
}
/* =================
NAVBAR
====================
*/
.navbar {
  padding-inline: 6%;
}
.logo {
  font-family: 'EB Garamond', serif;
}
.nav-menu {
  padding-inline: 6%;
  transition: transform 0.3s;
}
.nav-link {
  font-family: 'Nunito', sans-serif;
}
.nav-link::after {
  content: '';
  display: block;
  width: 0%;
  height: 0.15rem;
  transition: all 0.2s;
  border-radius: 4rem;
}
.nav-link:hover::after {
  width: 100%;
}
.side-bar {
  transition: all 0.3s;
  width: 20%;
}

/* =================
LANDING PAGE
====================
*/
.landing {
  font-family: 'Nunito', sans-serif;
  transition: all 0.3s;
}
@media screen and (max-width: 1024px) {
  .landing {
    width: 100% !important;
  }
}
/* =================
ABOUT
====================
*/
.section {
  padding-inline: 7%;
}
.active {
  color: red;
  font-size: minmax();
}

:is(.project:hover) .upper-layer,
:is(.project:hover) .lower-layer {
  opacity: 1;
  transition: all 0.3s;
}
