@import url('https://fonts.googleapis.com/css2?family=EB+Garamonds&family=Josefin+Sans&family=Nunito&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --carouselColor: #22c55e;
}
@media (prefers-color-scheme: dark) {
  :root {
    --carouselColor: #3b82f6;
  }
}
/* =================
NAVBAR
====================
*/
.navbar {
  padding-inline: 6%;
}
.logo {
  font-family: 'EB Garamond', serif;
  transition: all 0.3s;
}
.nav-menu {
  padding-inline: 6%;
  transition: transform 0.3s;
}
.nav-link {
  font-family: 'Nunito', sans-serif;
}
.nav-link::after {
  content: '';
  display: block;
  top: 100%;
  width: 0%;
  height: 0.15rem;
  transition: all 0.2s;
  border-radius: 4rem;
}
.nav-link:hover::after {
  width: 100%;
}
.side-bar {
  width: 20%;
}
/* =================
THEME
====================
*/
.theme {
  transition: all 0.3s;
}
/* =================
LANDING PAGE
====================
*/
.landing {
  font-family: 'Nunito', sans-serif;
}
.heading {
  font-family: 'Josefin Sans', sans-serif;
}
.section {
  padding-inline: 7%;
}

@media screen and (max-width: 1024px) {
  .landing {
    width: 100% !important;
    margin-left: 0 !important;
  }
}
/* =================
LANDING PAGE- HERO
====================
*/
.animate {
  animation: bounce 2s ease-in-out infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(12px);
  }
}

/* =================
LANDING PAGE- PORTFOLIO
====================
*/

:is(.project:hover) .upper-layer,
:is(.project:hover) .lower-layer {
  opacity: 1;
  transition: all 0.3s;
}

/* =================
LANDING PAGE- REVIEWS
====================
*/
.slick-dots {
  top: 102% !important;
}
.slick-dots li button:before {
  color: var(--carouselColor) !important;
  font-size: 8px !important;
  padding-top: 2px;
  width: 16px !important;
  height: 16px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slick-dots li.slick-active button:before {
  border: 1px solid var(--carouselColor);
  border-radius: 50%;
}
.carousel-single {
  width: 95%;
}
/* =================
LANDING PAGE- FOOTER
====================
*/
.animateUp {
  animation: bounce 2s ease-in-out infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-12px);
  }
}
